// GREY
.text-color_gray_10{
    color: $color_gray_10;
}
.text-color_gray_50{
    color: $color_gray_50;
}
.text-color_gray_200{
    color: $color_gray_200;
}
.text-color_gray_300{
    color: $color_gray_300;
}
.text-color_gray_400{
    color: $color_gray_400;
}
.text-color_gray_500{
    color: $color_gray_500;
}
.text-color_gray_600{
    color: $color_gray_600;
}
.text-color_gray_700{
    color: $color_gray_700;
}
.text-color_gray_800{
    color: $color_gray_800;
}
.text-color_gray_900{
    color: $color_gray_900;
}
   //PRIMARY PURPLE
.text-color_purple_10{
    color: $color_purple_10; 
}
.text-color_purple_50{
    color: $color_purple_50;
}
.text-color_purple_100{
    color: $color_purple_100;
}
.text-color_purple_200{
    color: $color_purple_200;
}
.text-color_purple_300{
    color: $color_purple_300;
}
.text-color_purple_400{
    color: $color_purple_400;
}
.text-color_purple_500{
    color: $color_purple_500;
}
.text-color_purple_600{
    color: $color_purple_600;
}
.text-color_purple_800{
    color: $color_purple_800;
}
//DANGER
.text-color_danger_50{
    color: $color_danger_50;
}
.text-color_danger_100{
    color: $color_danger_100;
}
.text-color_danger_200{
    color: $color_danger_200;
}
.text-color_danger_400{
    color: $color_danger_400;
}
.text-color_danger_500{
    color: $color_danger_500;
}
.text-color_danger_600{
    color: $color_danger_600;
}
.text-color_danger_700{
    color: $color_danger_700;
}

//SUCCESS
.text-color_success_50{
    color: $color_success_50;
}
.text-color_success_100{
    color: $color_success_100;
}
.text-color_success_200{
    color: $color_success_200;
}
.text-color_success_400{
    color: $color_success_400;
}
.text-color_success_500{
    color: $color_success_500;
}
.text-color_success_700{
    color: $color_success_700;
}
.text-color_success_800{
    color: $color_success_800;
}
.text-color_success_900{
    color: $color_success_900;
}
   //WARNING
.text-color_warning_50{
    color: $color_warning_50;
}
.text-color_warning_100{
    color: $color_warning_100;
}
.text-color_warning_200{
    color: $color_warning_200;
}
.text-color_warning_300{
    color: $color_warning_300;
}
.text-color_warning_400{
    color: $color_warning_400;
}
.text-color_warning_500{
    color: $color_warning_500;
}
.text-color_warning_600{
    color: $color_warning_600;
}
.text-color_warning_700{
    color: $color_warning_700;
}