
// COLORS

// GREY
$color_gray_10: #FAFAFA;
$color_gray_50: #F5F5F5;
$color_gray_200: #B3B3B3;
$color_gray_300: #A6A6A6;
$color_gray_400: #848484;
$color_gray_500: #686868;
$color_gray_600: #424242;
$color_gray_700: #303030;
$color_gray_800: #151515;
$color_gray_900: #000000;

   //PRIMARY PURPLE
$color_purple_10: #F8F0FF;
$color_purple_50: #E5C9FA;
$color_purple_100: #DBB4F9;
$color_purple_200: #CD96F6;
$color_purple_300: #B96EF3;
$color_purple_400: #9E35EE;
$color_purple_500: #7210BE;
$color_purple_600: #5F0D9E;
$color_purple_800: #42096D;

   //DANGER
$color_danger_50: #F8D7D7;
$color_danger_100: #F5C7C7;
$color_danger_200: #F2B1B1;
$color_danger_400: #E15151;
$color_danger_500: #DB2E2E;
$color_danger_600: #BC2020;
$color_danger_700: #9D1B1B;

   //SUCCESS
$color_success_50: #F7F6F7;
$color_success_100: #D7EADC;
$color_success_200: #B0D9BA;
$color_success_400: #6DBF81;
$color_success_500: #4FB46A;
$color_success_700: #3C9154;
$color_success_800: #328048;
$color_success_900: #256336;

   //WARNING
$color_warning_50: #FDF2CD;
$color_warning_100: #FCEDB9;
$color_warning_200: #FBE79E;
$color_warning_300: #F9DD78;
$color_warning_400: #F7D044;
$color_warning_500: #E4B40A;
$color_warning_600: #BE9708;
$color_warning_700: #9E7D07;